---
import Button from './Button.astro';
---

<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Super Bicycle Club</h1>
    <p class="text-muted narrow">Super Bicycle Club is the first Ride-To-Earn platform that rides the bicycle with an
      active lifestyle, encourages users to engage in outdoor activities, and gets close to nature. Super Bicycle Club
      is a community-driven web3 Ride-To-Earn fitness metaverse platform
      for everyone. The World’s First NFT Bicycle Race Metaverse Marketplace. Super Bicycle Club Ecosystem is broadly
      evolving with new GameFi elements, SocialFi,
      FitnessFi, and Metaverse that connect bikers participating in healthy activities together daily. Super Bicycle
      Club is a health and fitness DAPP. Users can earn by moving outdoors with
      bikes.</p>
  </div>
</header>